/* basic */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "poppins", sans-serif;
}
p {
  color: #616368;
}
/*header*/
.header {
  height: 125px;
}
.container {
  background-color: #ffffff;
  display: flex;
  align-content: flex-start;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: initial;
  justify-content: space-between;
}
.container .app {
  font-size: 30px;
  font-weight: bold;
}
.container .app .ap {
  color: orange;
}
.container .app .lab {
  color: #242f51;
}
header nav .navbar {
  margin-top: 50px;
  display: inline;
  text-align: right;
  margin-left: auto;
}
nav.navbar {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
a {
  text-decoration: none;
}
.header .nav_link {
  /* padding: 15px 0px; */
}
.tryforfree {
  height: 40px;
  width: 140px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: blue;
  color: #ffff;
  font-weight: 600;
}

/* Media Query for Mobile Devices */

/*best app*/
.bestapppp {
  background-image: url(./pics/section1/header-bg.jpg);
  height: 860px;
  width: 100%;
}

.best-app {
  background-image: url(./pics/section1/header-bg.jpg);
  height: 860px;
  width: 100%;
}
.left_best_app apps-in-world {
  border: none;
  height: 30px;
  width: 280px;
  background-color: #616368;
  border-radius: 50px;
  padding-top: 20px;
  font-size: 18px;
  color: #616368;
}
.left_best_app .modern-lifestyle {
  font-size: 47.7px;
  color: #242f51;
  font-weight: 700;
}
.left_best_app .to-do {
  font-size: 18px;
  color: #616368;
}
.left_best_app {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  width: 600px;
  align-items: flex-start;
  justify-content: center;
}
.button-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: flex-start;
  flex-direction: row;
}
p.apps-in-world {
  background-color: #e2eaed;
  padding: 12px;
  display: inline-flex;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
}
.img-fluid {
  width: 25px;
}
.best_app .left_best_app .btn .tryforfree {
  height: 80px;
  width: 160px;
  cursor: pointer;
  border-radius: 40px;

  background-color: blue;
  color: #ffff;
  font-weight: 600;
}

#sec1img {
  height: 644px;
  width: 350px;
}

/*trusted companies */

.trusted p {
  font-size: 16px;
  color: #616368;
  text-align: center;
  font-weight: bold;
}

.trusted .image_container {
  display: flex;

  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: space-evenly;
}

/*Awesome apps*/
.feature-description-item {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
}
.feature-description-item-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.feature-description-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feature-description-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.awesome_app {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.awesome_app .awesome_right {
  margin-left: 50px;
}
.awesome_app .awesome_phone img {
  height: 709px;
  width: 538px;
  margin-top: 100px;
}

.awesome_app .awesome_right .disc .ikd-tikd {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awesome_app .awesome_right .disc .ikd-tikd22 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awesome_app .awesome_right .disc .ikd-tikd33 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awesome_app .awesome_right .disc .ikd-tikd33 .get-blood {
  margin-left: 25px;
  display: block;
  font-size: 16px;
  color: #616368;
}
.awesome_app .awesome_right .disc .ikd-tikd22 .get-blood {
  margin-left: 25px;
  display: block;
  font-size: 16px;
  color: #616368;
}
.awesome_app .awesome_right .disc .ikd-tikd .get-blood {
  margin-left: 25px;
  display: block;
  font-size: 16px;
  color: #616368;
}
.awesome_app .awesome_right .awesome-head {
  color: #242f51;
  font-weight: 700;
  font-size: 2.0736rem;
  margin-bottom: 15px;
}

.awesome_app .awesome_right .disc .fast-per {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: #f85767;
  font-weight: bold;
}
.awesome_app .awesome_right .disc .prototyping {
  margin-top: 30px;
  font-size: 20px;
  color: #2563ff;
  font-weight: bold;
  text-align: center;
}
.awesome_app .awesome_right .disc .vector {
  margin-top: 30px;
  font-size: 20px;
  color: #40975f;
  font-weight: bold;
}

/*smart_jack*/
.smart_jack {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
}
.smartjack_left .love-this {
  font-size: 40px;
  text-align: left;
  color: #242f51;
  font-weight: bolder;
}
.smartjack_right .mobile-device {
  text-align: left;
  font-size: 16px;
}

/*Automatic Payouts*/
.auto-blood-pay {
  text-align: center;
  display: flex;
  flex: 25%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.auto-blood-pay .fastleft .auto-pay {
  font-size: 20px;
  color: #f85767;
  font-weight: bold;
}
.auto-blood-pay .fastleft img {
  margin-right: 130px;
}
.auto-blood-pay .network-effect img {
  margin-right: 130px;
}
.auto-blood-pay .bigger-awards img {
  margin-right: 130px;
}

.auto-blood-pay .network-effect .network-blood {
  font-size: 20px;
  color: #2563ff;
  font-weight: bold;
}
.auto-blood-pay .bigger-awards .bigger-blood {
  font-size: 20px;
  color: #40975f;
  font-weight: bold;
}
/* .auto-blood-pay .fastleft img{
  display: inline-block; 
  text-align: left;
} */
.auto-blood-pay .fastleft img {
  /* float: left; */
}

.auto-blood-pay .fastleft .blood-test {
  font-size: 16px;
  color: #616368;
}
.auto-blood-pay .network-effect .blood-test {
  font-size: 16px;
  color: #616368;
}
.auto-blood-pay .bigger-awards .blood-test {
  font-size: 16px;
  color: #616368;
}

/*Designed-built*/
.design-built {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex flex-start;
}
.design-built .design_left {
  text-align: left;
}
.design-built .design_left img {
  height: 405px;
  width: 443px;
}
.design-built .design_right {
  padding-left: 150px;
}

.design-built .design_right .integration {
  text-align: left;
  padding-top: 0px;
  font-size: 36px;
  color: #242f51;
  font-weight: bolder;
}

.design-built .design_right .mobile_device {
  font-size: 16px;
  color: #616368;
}
.design-built .design_right .buttoonlearn {
  box-align: left;
  height: 40px;
  width: 140px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: blue;
  color: #ffff;
  font-weight: 600;
}

/*Choose app*/
.heading-app {
  padding: 60px;
}

.heading-app .our_app {
  font-size: 36px;
  color: #242f51;
  font-weight: bolder;
}
.choose_app_bootom .mobile-device {
  font-size: 16px;
  color: #616368;
}

/*container_sample*/

.sample_container .container_blood {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 80px;
  justify-content: center;
  grid-row-gap: -400px;
}
.sample_container .App_get_your_blood .App_Development {
  font-size: 20px;
  color: #242f51;
  font-weight: bolder;
}
.sample_container .App_get_your_blood .blood-test {
  font-size: 14px;
  color: #616368;
}
.sample_container .App_get_your_blood .App_Development .appimg {
  margin-left: 160px;
}
/*ultimate Features*/
.ultimate_rise {
  text-align: center;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.ultimate_rise .left-content .heading-feature .section-title {
  font-size: 28px;
  color: #242f51;
  font-weight: bolder;
  text-align: left;
}
.ultimate_rise .left-content .heading-feature .section-description {
  font-size: 16px;
  color: #616368;
  text-align: left;
}
.ultimate_rise .left-content .see-all-button {
  align-content: left;
  height: 40px;
  width: 140px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: blue;
  color: #ffff;
  font-weight: 600;
}
.ultimate_rise .sectionrise {
  padding: 30px;
  text-align: left;
}
.ultimate_rise .flex-off-features .ultimate_blood_test .App_Development {
  text-align: left;
}
.ultimate_rise .flex-off-features img {
  /* margin-left:0; */
  margin-right: 165px;
}

.ultimate_rise .flex-off-features {
  display: grid;
  grid-template-rows: 280px 280px;
  grid-template-columns: 280px 280px;
  gap: 50px;
}
.feature-description {
  text-align: left;
}
.flex-off-features h3 {
  padding-top: 30px;
  margin: 0px 0p 2px 5px;
}
.ultimate_rise .right-section img {
  height: 481px;
  width: 429px;
}

/*Price Plan Section */
.content_centre {
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.content_centre .title {
  font-size: 36px;
  color: #242f51;
  font-weight: bolder;
}
.content_centre .description {
  font-size: 16px;
  color: #616368;
}
/*switch*/
.switches-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 100px;
  height: 40px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.toggle-label {
  display: inline-block;
  width: 60px;
  height: 25px;
  background-color: #ccc;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"] {
  height: 0px;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 20px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  bottom: 9px;
  width: 10px;
  height: 12px;
  background: #fff;
  border-radius: 90px;
  transition: 0.2s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

.plan_flex {
}
/* cards of prics */
.cardssection {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.cardssection .item1 .month49 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.cardssection .item2 .month99 {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.cardssection .item2 .dragg {
  list-style-type: none;
  line-height: 2.5rem;
}
.cardssection .item1 .dragg {
  list-style-type: none;
  line-height: 2.5rem;
}
.cardssection .month49 .head-business {
  font-size: 1.2rem;
  font-weight: 700;
  color: #242f51;
}
.cardssection .month99 .head-business {
  font-size: 1.2rem;
  font-weight: 700;
  color: #242f51;
}
.cardssection .month99 .small {
  font-size: 1rem;
  font-weight: lighter;
  color: #7d7987;
}
.cardssection .month49 .big {
  font-size: 1rem;
  font-weight: 200;
  color: #7d7987;
}
.cardssection .item1 .month49 .rupees {
  font-size: 2.4882rem;
  font-weight: 700;
  color: #242f51;
}
.cardssection .item2 .month99 .rupees {
  font-size: 2.4882rem;
  font-weight: 700;
  color: #242f51;
}

.item1 {
  width: 320px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item2 {
  width: 340px;
  height: 520px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Meet client sfs*/
.client_sfs {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
}
.client_sfs .left_client img {
  height: 336px;
  width: 443px;
}
.clientimg {
}
.right_client {
  margin-left: 20px;
}
.right_client .meetup .head_client {
  margin-top: 50px;
  font-size: 31px;
  color: #242f51;
  font-weight: bold;
}
.right_client .img-desc .specimg {
  border-radius: 48%;
}
.right_client .img-desc {
  margin-top: 20px;
}
.right_client .img-desc .zoltanceo {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.right_client .frnduser {
  margin-top: 25px;
  margin-bottom: 30px;
}
.right_client .two-one {
  display: flex;
  width: 100%;
}
.head_client {
}
.the-mobile-device {
}
.img-fluid {
}

/*FAQ SECTION*/
.heading {
  font-size: 20px;
  margin-bottom: 4rem;
  text-align: center;
}

details {
  font-size: 20px;
  margin-bottom: 3rem;
}

details p {
  font-size: 20px;
  margin-left: 2rem;
  line-height: 1.5;
}

.faq {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem;
}

summary {
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

summary::before {
  content: "+";
  position: absolute;
  left: -1.5rem;
  text-align: center;
}

details[open] summary::before {
  content: "-";
}

summary:hover {
  color: #242f51;
}

/*solution*/

details[open] p {
  background-color: #f5f7fa;
  padding: 3rem;
}

/* download_our_app */

.download_our_app .container-app {
  display: flex;
  align-items: center;
  width: 100%;
  height: 430px;
  justify-content: space-around;
}
.download_our_app .container-app .left-appcontainer .download {
  font-size: 36px;
  color: #242f51;
  font-weight: bold;
  margin-left: 20%;
}
.download_our_app .container-app .left-appcontainer .down-rise-blood {
  font-size: 16px;
  color: #616368;
  margin-left: 20%;
}
.download_our_app .container-app .left-appcontainer .images-down {
  margin-left: 120px;
  padding: 50px;
}
.download_our_app .container-app .right-appcontainer img {
  height: 359px;
  width: 632px;
}
/*Footer*/
.footer {
  background-color: #242f51;
  height: 400px;
  padding-top: 40px;
  width: 100%;
}
.bottom-link {
  height: 100px;
}
.bottom-link .menu {
  display: flex;
  list-style: none;

  justify-content: center;
  gap: 25px;
  margin: 35px 0;
}

.bottom-link .menu .menu-ele {
}

.bottom-link .menu .menu-ele .link-foot {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}
.footer .bottom-lab p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.bottom-lab .app .ap-bottom {
  margin-top: 10%;
  color: orange;
}
.bottom-lab .app .lab-bottom {
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer-social img {
  border-radius: 48%;
}
.footer-social .social {
  height: 30px;
  width: 30px;
}

/*Media css*/

@media only screen and (max-width: 480px) {
  .header {
    height: 80px;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container .app {
    font-size: 24px;
  }

  .container .app .ap {
    color: orange;
  }

  .container .app .lab {
    color: #242f51;
  }

  header nav .navbar {
    margin-top: 20px;
  }

  nav.navbar {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .header .nav_link {
    padding: 10px 0;
  }

  .best-app {
    height: 400px;
    margin-top: 200px;
  }

  .left_best_app apps-in-world {
    width: 200px;
    font-size: 14px;
  }

  .left_best_app .modern-lifestyle {
    font-size: 32px;
    text-align: center;
  }

  .left_best_app {
    width: 100%;
    align-items: center;
    padding: 20px;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  p.apps-in-world {
    font-size: 10px;
  }

  .best_app .left_best_app .to-do {
    text-align: center;
  }
  .best_app .left_best_app .btn .tryforfree {
    height: 60px;
    width: 120px;
    font-size: 14px;
  }

  /* Trusted Companies */
  .trusted {
    padding: 20px;
  }
  .trusted p {
    margin-top: 250px;
    font-size: 14px;
    padding: 0 20px;
  }
  .trusted .image_container {
    display: flex;
    flex-direction: column; /* Arrange flex items vertically */
    align-items: center; /* Center align flex items horizontally */
    padding-top: 5rem;
  }
  .trusted .image_container img {
    margin-bottom: 2rem; /* Add spacing between flex items */
  }

  /* Awesome apps */
  .awesome_app {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .awesome_right {
    width: 100%;
  }

  .awesome_app .awesome_phone img {
    height: auto;
    width: 100%;
    max-width: 300px;
  }

  .awesome_app .awesome-head {
    font-size: 24px;
  }

  .icon-details {
    margin: 10px;
  }

  .icon-details .disc {
    margin-top: 10px;
    text-align: center;
  }

  .icon-details .disc .fast-per {
    padding: 5px 0;
  }

  .awesome_app .icon-details .fast-per {
    font-size: 16px;
  }

  .awesome_app .icon-details .prototyping {
    font-size: 16px;
  }

  .awesome_app .icon-details .vector {
    font-size: 16px;
  }

  .awesome_app .icon-details .get-blood {
    font-size: 14px;
    margin-right: 50px;
  }

  .awesome_phone .awesome_right .icon-details {
    flex: initial;
  }
  .awesome_app .awesome_right .disc .ikd-tikd33 .get-blood {
    margin-left: 25px;
    display: block;
    font-size: 16px;
    color: #616368;
    margin-right: 50px;
  }
  .awesome_app .awesome_right .disc .ikd-tikd22 .get-blood {
    margin-left: 25px;
    display: block;
    font-size: 16px;
    color: #616368;
    margin-right: 50px;
  }
  .awesome_app .awesome_right .disc .ikd-tikd .get-blood {
    margin-left: 25px;
    display: block;
    font-size: 16px;
    color: #616368;
    margin-right: 50px;
  }

  /* 
        Smart jack */
  .smart_jack {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-eveenly;
    width: 100%;
    height: 500px;
  }
  .smartjack_left .love-this {
    font-size: 30px;
    text-align: left;
    color: #242f51;
    font-weight: bolder;
    margin-left: 20px;
  }
  .smartjack_right .mobile-device {
    text-align: left;
    font-size: 16px;
    margin-left: 10px;
  }
  /* auto blood pay */
  .auto-blood-pay {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 25%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  /* Design built */
  .design-built {
    flex-direction: column;
  }
  .design-built .design_left {
    text-align: left;
    /* padding-left: 150px; */
  }
  .design-built .design_left img {
    height: 405px;
    width: 343px;
  }
  .design-built .design_right {
    padding-left: 0px;
  }

  .design-built .design_right .integration {
    text-align: center;
    padding-top: 0px;
    font-size: 36px;
    color: #242f51;
    font-weight: bolder;
  }

  .design-built .design_right .mobile_device {
    font-size: 16px;
    color: #616368;
    text-align: center;
  }
  .design-built .design_right .buttoonlearn {
    box-align: left;
    height: 40px;
    width: 140px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background-color: blue;
    color: #ffff;
    font-weight: 600;
  }

  /*Choose app*/
  .heading-app {
    /* padding: 60px; */
    text-align: center;
  }

  .heading-app .our_app {
    margin-left: 10px;
    font-size: 36px;
    color: #242f51;
    font-weight: bolder;
  }
  .choose_app_bootom .mobile-device {
    font-size: 16px;
    color: #616368;
  }

  /*container_sample*/

  .sample_container .container_blood {
    display: flex;
    /* grid-template-rows: 300px 300px 300px;
  gap: 80px;
  justify-content: center;
  grid-column-gap: 0px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    padding: 20px;
  }
  .sample_container .App_get_your_blood .App_Development {
    font-size: 20px;
    color: #242f51;
    font-weight: bolder;
  }
  .sample_container .App_get_your_blood .blood-test {
    font-size: 14px;
    color: #616368;
  }
  .sample_container .App_get_your_blood .App_Development .appimg {
    margin-left: 160px;
  }

  /*ultimate Features*/
  .ultimate_rise {
    text-align: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .ultimate_rise .left-content .heading-feature .section-title {
    font-size: 28px;
    color: #242f51;
    font-weight: bolder;
    text-align: center;
  }
  .ultimate_rise .left-content .heading-feature .section-description {
    font-size: 16px;
    color: #616368;
    text-align: center;
  }
  .ultimate_rise .left-content .see-all-button {
    align-content: left;
    height: 40px;
    width: 140px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background-color: blue;
    color: #ffff;
    font-weight: 600;
  }
  .ultimate_rise .sectionrise {
    padding: 30px;
    text-align: left;
  }
  .ultimate_rise .flex-off-features .ultimate_blood_test .App_Development {
    text-align: left;
  }
  .ultimate_rise .flex-off-features img {
    /* margin-left:0; */
    margin-right: 165px;
  }

  .ultimate_rise .flex-off-features {
    display: flex;
    /* grid-template-rows: 280px 280px;
  grid-template-columns: 280px 280px;
  gap: 50px; */
    flex-direction: column;
    padding: 20px;
    /* margin-left: 70px; */
    align-items: center;
    justify-content: center;
  }

  .feature-description {
    text-align: left;
  }
  .flex-off-features h3 {
    padding-top: 30px;
    margin: 0px 0p 2px 5px;
  }
  .ultimate_rise .right-section img {
    height: 431px;
    width: 359px;
  }

  /* Price cards */
  .content_centre {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }
  .content_centre .title {
    font-size: 36px;
    color: #242f51;
    font-weight: bolder;
  }
  .content_centre .description {
    font-size: 16px;
    color: #616368;
  }

  .cardssection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .cardssection .item1 .month49 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .cardssection .item2 .month99 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .cardssection .item2 .dragg {
    list-style-type: none;
    line-height: 2.5rem;
  }
  .cardssection .item1 .dragg {
    list-style-type: none;
    line-height: 2.5rem;
  }
  .cardssection .month49 .head-business {
    font-size: 1.2rem;
    font-weight: 700;
    color: #242f51;
  }
  .cardssection .month99 .head-business {
    font-size: 1.2rem;
    font-weight: 700;
    color: #242f51;
  }
  .cardssection .month99 .small {
    font-size: 1rem;
    font-weight: lighter;
    color: #7d7987;
  }
  .cardssection .month49 .big {
    font-size: 1rem;
    font-weight: 200;
    color: #7d7987;
  }
  .cardssection .item1 .month49 .rupees {
    font-size: 2.4882rem;
    font-weight: 700;
    color: #242f51;
  }
  .cardssection .item2 .month99 .rupees {
    font-size: 2.4882rem;
    font-weight: 700;
    color: #242f51;
  }

  .item1 {
    width: 260px;
    height: 420px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .item2 {
    width: 260px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /*Meet client sfs*/
  .client_sfs {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
  }
  .client_sfs .left_client img {
    height: 330px;
    width: 380px;
  }
  .clientimg {
  }
  .right_client {
    margin-left: 20px;
  }
  .right_client .meetup .head_client {
    margin-top: 50px;
    font-size: 31px;
    color: #242f51;
    font-weight: bold;
    padding: 8px;
  }
  .img-desc {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .right_client .img-desc .specimg {
    border-radius: 48%;
  }
  .right_client .img-desc {
    margin-top: 20px;
  }
  .right_client .img-desc {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .right_client .frnduser {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .right_client .two-one {
    display: flex;
    width: 100%;
  }
  .head_client {
  }
  .client_sfs .right_client .the-mobile-device {
    margin-right: 40px;
  }
  .client_sfs .right_client .bring-to {
    margin-right: 15px;
    padding-right: 10px;
  }
  .img-fluid {
  }

  /* Download the app */

  .download_our_app .container-app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 830px;
    justify-content: space-around;
  }
  .download_our_app .container-app .left-appcontainer .download {
    font-size: 36px;
    color: #242f51;
    font-weight: bold;
    /* margin-left: 50px; */
    text-align: center;
    margin-left: -50px;
  }
  .download_our_app .container-app .left-appcontainer .down-rise-blood {
    font-size: 16px;
    color: #616368;
    margin-right: 20%;
  }
  .download_our_app .container-app .left-appcontainer .images-down {
    align-items: center;
    margin-right: 100px;
  }
  .download_our_app .container-app .right-appcontainer img {
    height: 339px;
    width: 332px;
  }

  /*Footer*/
  .footer {
    background-color: #242f51;
    height: 500px;
    width: 100%;
    padding-top: 40px;
  }
  .bottom-link {
    height: 100px;
  }
  .bottom-link .menu {
    display: flex;
    list-style: none;
    flex-direction: column;

    justify-content: center;
    gap: 25px;
    margin: 35px 0;
  }

  .bottom-link .menu .menu-ele {
  }

  .bottom-link .menu .menu-ele .link-foot {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
  }
  .footer .bottom-lab p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .bottom-lab .app .ap-bottom {
    margin-top: 10%;
    color: orange;
  }
  .bottom-lab .app .lab-bottom {
    color: #ffffff;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .footer-social img {
    border-radius: 48%;
  }
  .footer-social .social {
    height: 30px;
    width: 30px;
  }
}
